<h1>メッセージ一覧</h1>
<% @mssages.each do |mssage| %>
    氏名：<%= mssage.name %>
    年齢：<%= mssage.age %>
    内容：<%= mssage.body %>
    <br>
<% end %>
    
<%= form_for(@mssage) do |f| %>
    氏名：
    <%= f.text_field :name %>
    年齢：
    <%= f.text_field :age %>
    内容：
    <%= f.text_field :body %>
    <%= f.submit %>
<% end %>
    